<div class="view">
    <div class="container-fluid">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container-fluid">
            <dl>
                <div class="row">
                    <dt>Created by:</dt>
                    <div class="span9"><a href="https://www.linkedin.com/in/jitendrudulacaraju" target="_blank">Jeetu</a></div>
                </div>
                <br />
                <div class="row">
                    <dt>Source Code:</dt>
                    <div class="span9"><a href="https://github.com/jeetu-gis" target="_blank">https://github.com/jeetu-gis/ImageX</a></div>
                </div>
                <br />
                <div class="row">
                    <dt>About Application:</dt>
                    <div class="text-primary">
                        <p>This application is built on Angular JS, 2DMap:  Leafletjs 1.0 API and 3DMap: NASA World Window API</p>
                        <p>The images are loaded from tiles present at : https://d2xy2u667w9tvp.cloudfront.net/LAYDB-1-BlueMarbleWithBathymetry-data/1072915200000/</p>
                        <p>There are 5 levels of images in the pyramid.</p>
                        <p>Note:Work in progress on 3DMap page's World Window API image overlay. See Readme in the repo for more information.</p>

                        </br>
                    </div>
                </div>
            </dl>
        </div>
    </div>
</div>
