<div class="view">
    <div class="row container-fluid">
        <div id='mapid' style="height:760px"></div>
    </div>
    <div class=" row col">
        <div class="col-md-3"> <label class="labelStyle1 label">Zoom :</label>
            <label class="label labelStyle2">{{mapZoomLevel}}</label></div>
        <div class="col-md-4"><label class="labelStyle1 label">Current Image Level : </label>
            <label class="label labelStyle2">{{imagesLevel}}</label></div>
    </div>
</div>
<div class=" row col">
    <div class="col-md-6"> <label class="labelStyle1 label">Map Bounds : </label>
        <label class="label labelStyle2">SW: {{displayBounds.sw}}| NE:{{displayBounds.ne}}</label>
      </div>
</div>
</div>
